<mat-card class="mat-card">
  <mat-card-title class="mat-card-title">
    Formulario Hiv
  </mat-card-title>
  <mat-card-subtitle>
    Encuesta
  </mat-card-subtitle>
  <mat-card-content>
    <div fxLayout="row" fxLayoutAlign="center" fxLayout.lt-sm="column">
      <div fxFlex="25" fxFlex.xs="100" id="child1" class="child">A</div>
      <div fxFlex="25" id="child2" class="child">B</div>
      <div fxFlex="25" id="child3" class="child">C</div>
      <div fxFlex="25" id="child4" class="child">D</div>
      <div fxFlex="25" id="child5" class="child">E</div>
      <div fxFlex="25" id="child6" class="child">F</div>
      <div fxFlex="25" id="child7" class="child">G</div>
      <div fxFlex="25" id="child8" class="child">H</div>
      <div></div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    footer
  </mat-card-footer>
</mat-card>
